/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.homepage-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.header {
    text-align: center;
    margin-bottom: 2em;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #444;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #666;
}

.btn-main {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7043;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.btn-main:hover {
    background-color: #ff5722;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.feature-item {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.feature-item h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #444;
}

.feature-item p {
    font-size: 1em;
    color: #666;
    margin-bottom: 1em;
}

.btn-secondary {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #388e3c;
}



nav {
    background-color: #65c5e2;
    padding: 1em;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #333;
}

.content {
    padding: 2em;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.feature-icon {
    width: 50px;
    height: 50px;
    border-bottom: 1em;
}